.img {
  height: auto;
  width: 4vw;
}
.header {
  margin-top: 2em;
  height: 25vh;
  border-bottom: 4px;
}
.home {
  height: 65vh;
}
.footer {
  height: 5vw;
}

h1 {
  font-family: "Fredoka One", cursive;
}
