.img {
  height: auto;
  width: 4vw;
}
.header {
  margin-top: 2em;
  min-height: 20%;
  border-bottom: 4px;
}
.home {
  min-height: 65%;
}
.footer {
  min-height: 10%;
}

h1 {
  font-family: "Fredoka One", cursive;
}
